.Game h2{
    text-align: center;
    color: white;
    font-size: 30px;
}


.Game .game-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap; 
    margin: 0 auto; 
}

.Game figure
{
    color: white;
    text-align: center;
}

.Game img
{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    
}

.Game .video-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
}

.Game video {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    background-color: #000;
    outline: none;
}

