
.Info
{
    color: white;
    text-align: center;
    margin-top: 100px;
}

.Info h1{
    font-size: 40px;
}

/* .Info div {
    background-color:  rgb(185, 46, 46);;
    height: 25px;
    width: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
} */

#about {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

#about h2 {
    font-size: 28px;
    color:  rgb(185, 46, 46);;
}

#about p {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
}

#about ul
{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;


}

#about li
{
    margin: 0;
    padding: 0;
    background-color: rgb(185, 46, 46);;
    height: 25px;
    width: 120px; 
    align-items: center;
    text-align: center;
    margin: 20px 20px; 
    border-radius: 5px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: bold;
}
